################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Libook-BE/FileContentIndex/1e6cecc8-62e8-43c4-a230-c7533c0058c7.vsidx
/.vs/Libook-BE/FileContentIndex/82bbe71d-e8b9-4501-bf8c-b5a57ce642db.vsidx
/.vs/Libook-BE/FileContentIndex/896088c5-151f-4ea7-9cc2-ad08026c97e0.vsidx
/.vs/Libook-BE/FileContentIndex/b02f831d-50fe-4c0e-9fed-a237988c2d07.vsidx
/.vs/Libook-BE/FileContentIndex/c78f93bb-d5b0-4c19-b920-f2090940b715.vsidx
*.vsidx
